<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio Pandas (EDA y Unión de Datos)

## Los datos

Para este laboratorio, trabajarás con los siguientes conjuntos de datos:

- **`netflix_originals.csv`**: Contiene información sobre producciones originales de Netflix. Las columnas que nos encontraremos en este conjunto de datos son: 

   - `Title`: Contiene el nombre del título de la producción original de Netflix.

   - `Genre`: Especifica el género o combinación de géneros de la producción.

   - `Premiere`: Indica la fecha de estreno de la producción en Netflix.

   - `Runtime`: Contiene la duración de la producción en minutos.

   - `IMDB Score`: Representa la calificación promedio que la producción ha recibido en la plataforma IMDB.

   - `Language`: Especifica el idioma principal o los idiomas en los que se presenta la producción.

- **`netflix_titles.csv`**: Contiene información sobre una variedad de títulos disponibles en la plataforma Netflix, incluyendo tanto películas como series de televisión. Las columnas que nos encontraremos en este conjunto de datos son:

   - `show_id`: Identificador único para cada título en el dataset.

   - `type`: Especifica el tipo de contenido, ya sea "Movie" (película) o "TV Show" (serie de televisión).

   - `title`: Contiene el nombre del título de la producción.

   - `director`: Muestra el nombre del director del título. Puede estar vacío en algunos casos.

   - `cast`: Lista de actores y actrices que participaron en el título. También puede estar vacío en algunos casos.

   - `country`: País o países donde se produjo el título. Esta columna también puede tener valores faltantes.

   - `date_added`: Fecha en la que el título fue añadido al catálogo de Netflix.

   - `release_year`: Año en que el título fue lanzado o producido.

   - `rating`: Clasificación del contenido en términos de audiencia (por ejemplo, PG-13, TV-MA).

   - `duration`: Duración del título. Para películas, se expresa en minutos (e.g., "90 min") y para series en temporadas (e.g., "2 Seasons").

   - `listed_in`: Categorías o géneros bajo los cuales el título está clasificado (por ejemplo, "Documentaries", "TV Dramas").

   - `description`: Breve sinopsis o descripción del contenido del título.

A lo largo de los laboratorios de Pandas, trabajarás con estos conjuntos de datos (o con los derivados del Laboratorio), algunas de las actividades que realizaremos son:

- Exploración de datos y análisis exploratorio (EDA) para familiarizarse con los conjuntos de datos.

- Realización de uniones entre conjuntos de datos, aplicando diferentes técnicas de *merging* y analizando la relevancia de cada método.

- Uso de funciones de selección y filtrado (`loc`, `iloc`) para extraer información clave.

- Desarrollo de análisis descriptivos y visualización de patrones para comprender mejor las decisiones estratégicas de la plataforma.

----

## Objetivo General de la Serie de Laboratorios



1. **Unión de `netflix_titles.csv` con `netflix_originals.csv`:**

   - **Análisis de contenido original:**  Identificarás los títulos que son producciones originales de Netflix y los compararás con los títulos adquiridos. Este análisis te permitirá:

     - Comparar la diversidad de géneros entre los títulos originales y no originales.

     - Evaluar si ciertos géneros o tipos de contenido (como documentales o series) son más frecuentes en las producciones originales.

     - Investigar si la producción original se concentra en determinados países o idiomas.


   - **Evaluación de contenido:** En esta etapa, explorarás si las producciones originales de Netflix tienden a recibir mejores o peores evaluaciones en comparación con el contenido adquirido. Algunas preguntas que se buscarán responder incluyen:

     - ¿Los títulos originales tienen una calificación promedio superior en plataformas como IMDB?

     - ¿Son las producciones originales más consistentes en términos de calidad percibida?

     - ¿Existen diferencias en la popularidad de los títulos originales según su género o país de origen?


   - **Identificación de tendencias:**  Por último, este análisis te permitirá explorar cómo ha evolucionado la estrategia de contenido de Netflix a lo largo del tiempo. Algunos puntos clave a investigar serán:

     - ¿Cómo ha crecido la producción original en comparación con la adquisición de contenido?

     - ¿Qué géneros o tipos de contenido han recibido mayor inversión en los últimos años?
     
     - ¿Existen patrones en los países o idiomas de las producciones originales, especialmente en relación con la expansión global de Netflix?


----


## Ejercicio: Análisis y Enriquecimiento del Catálogo de Netflix

### Parte 1: Análisis Exploratorio de Datos (EDA)

1. **Carga de los datos:**

   - Deberás cargar los dos conjuntos de datos que te hemos proporcionado para realizar este Laboratorio:

     - `netflix_originals.csv`

     - `netflix_titles.csv`

   Deberás revisar la estructura de cada conjunto de datos utilizando los métodos aprendidos durante la lección.

2. **Análisis de columnas y consistencia:**

   - Deberás hacer un análisis exploratorio de cada uno de los conjuntos de datos. Será obligatorio que incluyas las conclusiones generales obtenidas de cada uno de los análisis exploratorios en el Jupyter Notebook de tus soluciones.

   - Explorar qué columnas contiene cada conjunto de datos y cuáles son sus tipos de datos. Identificar si hay valores nulos o duplicados.

   - Algunas preguntas que nos podemos plantear en esta fase son (recuerda que esto es solo un ejemplo, y que podemos explorar todo lo que queramos/necesitemos para entender lo mejor posible los conjuntos de datos):

      - ¿Cuáles son los tipos de datos de cada columna? Nos puede ayudar a detectar si algún tipo de dato está incorrectamente asignado, como fechas almacenadas como cadenas de texto.

      - ¿Existen valores nulos? ¿En qué columnas están? Este paso es crucial para decidir si deben ser eliminados, rellenados o ignorados.

      - ¿Cuántos títulos únicos hay en cada conjunto de datos? Nos puede permitir verificar si existen títulos duplicados que puedan distorsionar el análisis.

      - ¿Qué géneros tenemos en el conjunto de datos? Esto nos puede ayudar a identificar los géneros más populares o incluso a identificar una posible limpieza de dicha columna para poder extraer conclusiones más claras en nuestro análisis.

### Parte 2: Unión de Datos

1. **Realización de la unión:**

   - Deberás realizar la unión que consideres más apropiada entre `netflix_titles.csv` y `netflix_originals.csv`. Además, deberás justificar el tipo de unión que has realizado.

   - Esto nos ayudará a contestar preguntas más adelente del tipo:

     - ¿Cuántos títulos en `netflix_titles.csv` son producciones originales de Netflix?

     - ¿Hay diferencias significativas en la puntuación de IMDB entre títulos originales y no originales?

### Parte 3: Uso de `loc` e `iloc`

Usando el DataFrame creado en la Parte 2: 

1. **Filtrado de datos con `loc`:**

   - Selecciona todas las filas donde el tipo de contenido sea “Movie”.

   - Muestra solo los títulos (title) y la duración (duration) de todos los contenidos que sean de tipo “TV Show”.

   - Selecciona todas las filas donde el país sea “United States”.

   - Muestra todas las películas (type = “Movie”) y selecciona las columnas title y director.

   - Selecciona los títulos (title) y géneros (listed_in) de todas las producciones lanzadas en 2018.

   - Selecciona las filas donde la columna director esté vacía y muestra solo los títulos (title).

2. **Acceso a datos específicos con `iloc`:**

   - Selecciona las primeras 5 filas del conjunto de datos y muestra solo las columnas title, director y country.

   - Muestra las últimas 5 filas del conjunto de datos y selecciona las columnas title y description.

   - Selecciona las primeras 10 filas del dataset y muestra las columnas desde la segunda hasta la quinta (incluidas). 

   - Muestra las últimas 7 filas del dataset y selecciona las columnas title, director, y country usando índices posicionales.

   - Selecciona las filas desde la 15 hasta la 25 (incluidas) y muestra las primeras 4 columnas.

   - Muestra las filas 20 a 30 y solo las columnas title, release_year, y rating usando índices posicionales.


**NOTA IMPORTANTE**: Antes de terminar el lab, guarda el conjunto de datos creado en la fase de unión para trabajar con el en las siguientes lecciones.

In [ ]:
import pandas as pd
import numpy as np

En primer lugar cargamos ambos archivos para que serán con los que trabajemos a lo largo de este laboratorio.

In [3]:
df1_Netflix = pd.read_csv ("datos/netflix_originals.csv")
df1_Netflix.head()

,Unnamed: 0,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
4,4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi

In [4]:
df2_Netflix = pd.read_csv ("datos/netflix_titles.csv")
df2_Netflix.head()

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,NaN,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,NaN,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [5]:
df1_Netflix.sample(5)

,Unnamed: 0,Title,Genre,Premiere,Runtime,IMDB Score,Language
169,179,Rodney King,One-man show,"April 28, 2017",52,5.8,English
323,352,I'm Thinking of Ending Things,Psychological thriller,"September 4, 2020",134,6.6,English
151,161,15 August,Comedy-drama,"March 29, 2019",124,5.8,Marathi
502,568,Chasing Coral,Documentary,"July 14, 2017",89,8.1,English
474,527,The Black Godfather,Documentary,"June 7, 2019",118,7.4,English

In [32]:
#Sacamos el numero de duplicados.
numero_duplicados_1=int(df1_Netflix.duplicated().sum())
numero_duplicados_2=int(df2_Netflix.duplicated().sum())
print(numero_duplicados_1, numero_duplicados_2)

0 0

In [9]:
#Sacamos los valores unicos y su frecuencia que esperamosque saea 1 en todos puesto que no habia filas duplicadas
#  segun vimos anteriormente
df1_Netflix.value_counts()

Unnamed: 0  Title                                     Genre                  Premiere           Runtime  IMDB Score  Language
583         David Attenborough: A Life on Our Planet  Documentary            October 4, 2020    83       9.0         English         1
561         The Irishman                              Crime drama            November 27, 2019  209      7.8         English         1
560         If Anything Happens I Love You            Animation / Short      November 20, 2020  12       7.8         English         1
555         Crip Camp: A Disability Revolution        Documentary            March 25, 2020     108      7.7         English         1
553         Beasts of No Nation                       War drama              October 16, 2015   136      7.7         English/Akan    1
                                                                                                                                    ..
5           Drive                                     Action                 November 1, 2019   147      3.5         Hindi           1
4           Kaali Khuhi                               Mystery                October 30, 2020   90       3.4         Hindi           1
3           The Open House                            Horror thriller        January 19, 2018   94       3.2         English         1
2           The App                                   Science fiction/Drama  December 26, 2019  79       2.6         Italian         1
1           Dark Forces                               Thriller               August 21, 2020    81       2.6         Spanish         1
Name: count, Length: 513, dtype: int64

In [33]:
df2_Netflix.value_counts()

Unnamed: 0  show_id  type   title                   director             cast                                                                                                                                                                                                                                                  country                                                                date_added          release_year  rating  duration  listed_in                                         description
8806        s8807    Movie  Zubaan                  Mozez Singh          Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanana, Manish Chaudhary, Meghna Malik, Malkeet Rauni, Anita Shabdish, Chittaranjan Tripathy                                                                                                                 India                                                                  March 2, 2019       2015          TV-14   111 min   Dramas, International Movies, Music & Musicals    A scrappy but poor boy worms his way into a tycoon's dysfunctional family, while facing his fear of music and the truth about his past.                                                                                                              1
7           s8       Movie  Sankofa                 Haile Gerima         Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra Duah, Nick Medley, Mutabaruka, Afemo Omilami, Reggie Carter, Mzuri                                                                                                                                       United States, Ghana, Burkina Faso, United Kingdom, Germany, Ethiopia  September 24, 2021  1993          TV-MA   125 min   Dramas, Independent Movies, International Movies  On a photo shoot in Ghana, an American model slips back in time, becomes enslaved on a plantation and bears witness to the agony of her ancestral past.                                                                                              1
8770        s8771    Movie  Yaadein                 Subhash Ghai         Jackie Shroff, Hrithik Roshan, Kareena Kapoor, Amrish Puri, Kiran Rathod, Rati Agnihotri, Supriya Karnik, Anang Desai                                                                                                                                 India                                                                  March 1, 2018       2001          TV-14   171 min   Dramas, International Movies, Romantic Movies     Two young lovers set out to overcome the obstacles that stand in the way of their marriage, beginning with the objections of the girl's father.                                                                                                      1
8769        s8770    Movie  Y.M.I.: Yeh Mera India  N. Chandra           Anupam Kher, Atul Kulkarni, Aakash Pandey, Milind Gunaji, Perizaad Zorabian, Smiley Suri, Parvin Dabas, Rajit Kapoor, Purab Kohli, Rajpal Yadav, Sarika, Sayaji Shinde, Seema Biswas, Vijay Raaz, Ashwin Mushran, Veerendra Saxena, Siddhant Karnick  India                                                                  March 1, 2018       2008          TV-MA   137 min   Dramas, Independent Movies, International Movies  The lives of a middle-aged soap opera addict, an ambitious career woman, a fervent activist and nine others from different walks of Indian life intersect in Mumbai. But this vibrant melting pot threatens to bubble over with bias and bigotry.    1
8766        s8767    Movie  XXx                     Rob Cohen            Vin Diesel, Asia Argento, Marton Csokas, Samuel L. Jackson, Danny Trejo, Michael Roof, Tom Everett, Richy Müller, William Hope, Werner Daehn                                                                                                          United States                                                          January 1, 2019     2002          PG-13   124 min   Action & Adventure, Sports Movies                 A notorious underground rush-seeker deemed untouchable by the law is coerced into cooperating with the government to infiltrate a Russian crime ring.                                                                                                1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ..
42          s43      Movie  Jaws 2                  Jeannot Szwarc       Roy Scheider, Lorraine Gary, Murray Hamilton, Joseph Mascolo, Jeffrey Kramer, Collin Wilcox Paxton, Ann Dusenberry, Mark Gruner, Barry Coe, Susan French                                                                                              United States                                                          September 16, 2021  1978          PG      116 min   Dramas, Horror Movies, Thrillers                  Four years after the last deadly shark attacks, police chief Martin Brody fights to protect Amity Island from another killer great white.                                                                                                            1
41          s42      Movie  Jaws                    Steven Spielberg     Roy Scheider, Robert Shaw, Richard Dreyfuss, Lorraine Gary, Murray Hamilton, Carl Gottlieb, Jeffrey Kramer, Susan Backlinie, Jonathan Filley, Ted Grossman                                                                                            United States                                                          September 16, 2021  1975          PG      124 min   Action & Adventure, Classic Movies, Dramas        When an insatiable great white shark terrorizes Amity Island, a police chief, an oceanographer and a grizzled shark hunter seek to destroy the beast.                                                                                                1
24          s25      Movie  Jeans                   S. Shankar           Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi, Nassar                                                                                                                                                                                                India                                                                  September 21, 2021  1998          TV-14   166 min   Comedies, International Movies, Romantic Movies   When the father of the man she loves insists that his twin sons marry twin sisters, a woman creates an alter ego that might be a bit too convincing.                                                                                                 1
12          s13      Movie  Je Suis Karl            Christian Schwochow  Luna Wedler, Jannis Niewöhner, Milan Peschel, Edin Hasanović, Anna Fialová, Marlon Boess, Victor Boccard, Fleur Geffrier, Aziz Dyab, Mélanie Fouché, Elizaveta Maximová                                                                               Germany, Czech Republic                                                September 23, 2021  2021          TV-MA   127 min   Dramas, International Movies                      After most of her family is murdered in a terrorist bombing, a young woman is unknowingly lured into joining the very group that killed them.                                                                                                        1
9           s10      Movie  The Starling            Theodore Melfi       Melissa McCarthy, Chris O'Dowd, Kevin Kline, Timothy Olyphant, Daveed Diggs, Skyler Gisondo, Laura Harrier, Rosalind Chao, Kimberly Quinn, Loretta Devine, Ravi Kapoor                                                                                United States                                                          September 24, 2021  2021          PG-13   104 min   Comedies, Dramas                                  A woman adjusting to life after a loss contends with a feisty bird that's taken over her garden — and a husband who's struggling to find a way forward.                                                                                              1
Name: count, Length: 2930, dtype: int64

In [12]:
df1_Netflix.shape

(513, 7)

In [35]:
df2_Netflix.shape

(8807, 13)

In [13]:
#  Vemos una discrepancia entre el numero de filas que nos devuelve shape y la numeración de Unnamed 0 que a priori
# podría servir de indice no es correlativa. Unnamed 0 es columna candidata a ser borrada, pero aun es un poco pronto
# para decidir eso, por riesgo a cargarnos datos

In [14]:
#Vamos a sacar info sobre cuantos valores nulos y que tipos de datos tenemos
df1_Netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  513 non-null    int64
 1   Title       513 non-null    object
 2   Genre       513 non-null    object
 3   Premiere    513 non-null    object
 4   Runtime     513 non-null    int64
 5   IMDB Score  513 non-null    float64
 6   Language    513 non-null    object
dtypes: float64(1), int64(2), object(4)
memory usage: 28.2+ KB

Para nuestra alegría no hay valores nulos, este frame y los tipos de datos no chirrian con lo que a priori deben contener las
columnas. Le echaremos un ojo más adelante a la duración que está en enteros en vez de expresar hora, pero para hacer
comparaciones puede ser hasta mejor

In [37]:
df2_Netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    8807 non-null   int64
 1   show_id       8807 non-null   object
 2   type          8807 non-null   object
 3   title         8807 non-null   object
 4   director      6173 non-null   object
 5   cast          7982 non-null   object
 6   country       7976 non-null   object
 7   date_added    8797 non-null   object
 8   release_year  8807 non-null   int64
 9   rating        8803 non-null   object
 10  duration      3994 non-null   object
 11  listed_in     8807 non-null   object
 12  description   8807 non-null   object
dtypes: int64(2), object(11)
memory usage: 894.6+ KB

Sin embargo en el otro vemos que si hay muchos valores nulos en ciertas columnas y tendremos que ver como afecta eso a nuestro analisis. También chirría que el tipo de datos del rating y la duración sean objetos en vez de float y int respectivamente

Vamos a correr el riesgo de modificar el dataframe para lo cual como media de prudencia usaremos otra variable
para perseverar el original

In [39]:
# Eliminamos la columna Unnamed 0 que no parece aportar nada a lo que nos piden en nuestro análisis
df1_modificado = df1_Netflix.drop(columns=["Unnamed: 0"])
df2_modificado = df2_Netflix.drop(columns=["Unnamed: 0"])

In [17]:
df1_modificado

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi
...,...,...,...,...,...,...
508,Cuba and the Cameraman,Documentary,"November 24, 2017",114,8.3,English
509,Dancing with the Birds,Documentary,"October 23, 2019",51,8.3,English
510,Winter on Fire: Ukraine's Fight for Freedom,Documentary,"October 9, 2015",91,8.4,English/Ukranian/Russian
511,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English
512,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English

In [40]:
df2_modificado

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,NaN,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,NaN,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,NaN,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,NaN,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [28]:
# Vamos a ver si hay titulos duplicados
df1_modificado["Title"].unique().size

513

In [42]:
df2_modificado["title"].unique().size

8807

Luego todas las celdas hablan de peliculas diferentes

In [30]:
#Sacamos el porcentaje de películas de cada género
df1_modificado.value_counts(["Genre"], normalize=True)

Genre
Documentary         0.257310
Drama               0.142300
Comedy              0.081871
Romantic comedy     0.068226
Thriller            0.064327
                      ...
Superhero-Comedy    0.001949
Stop Motion         0.001949
Urban fantasy       0.001949
War-Comedy          0.001949
Zombie/Heist        0.001949
Name: proportion, Length: 106, dtype: float64

In [45]:
#En el caso del otro dataframe el genero viene recogido en listed in
df2_modificado.value_counts(["listed_in"], normalize=True)

listed_in
Dramas, International Movies                                0.041104
Documentaries                                               0.040763
Stand-Up Comedy                                             0.037924
Comedies, Dramas, International Movies                      0.031112
Dramas, Independent Movies, International Movies            0.028614
                                                              ...
TV Action & Adventure, TV Comedies                          0.000114
TV Action & Adventure, TV Comedies, TV Dramas               0.000114
Action & Adventure, Classic Movies, International Movies    0.000114
Action & Adventure, Classic Movies, Sci-Fi & Fantasy        0.000114
Action & Adventure, Comedies, Horror Movies                 0.000114
Name: proportion, Length: 514, dtype: float64

In [48]:
df1_modificado.describe()

          Runtime  IMDB Score
count  513.000000  513.000000
mean    94.674464    6.210916
std     26.648121    0.968850
min      4.000000    2.500000
25%     87.000000    5.600000
50%     97.000000    6.300000
75%    108.000000    6.900000
max    209.000000    9.000000

En la tabla de arriba vemos que la duración de los originales

In [49]:
df1_modificado.describe(include="O")

,Title,Genre,Premiere,Language
count,513,513,513,513
unique,513,106,350,37
top,David Attenborough: A Life on Our Planet,Documentary,"October 18, 2019",English
freq,1,132,5,352

In [51]:
df2_modificado.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [53]:
df2_modificado.describe(include="O")

,show_id,type,title,director,cast,country,date_added,rating,duration,listed_in,description
count,8807,8807,8807,6173,7982,7976,8797,8803,3994,8807,8807
unique,8807,2,8807,4528,7692,748,1767,17,185,514,8775
top,s8807,Movie,Zubaan,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",TV-MA,2 Seasons,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,19,2818,109,3207,425,362,4

Hay que ser cautelosos al comparar ambas, porque los generos vienen recogidos demanera diferente en ambas pero se puede observar que en el archivo de originales predominan mucho más los documentales que en el otro. Una posible explicación es que a Netflix le resulta en general más barato producir documentales que películas, mientrasque en las peliculas su apuesta mayoritaria viene por unir a su catálogo peliculas que no han producidio ellos.

En todo caso, analizando la segunda tabla se ve que Netflix ofrece un catalogo de generos muy variados respondiendo probablemente a una estrategia de atraer a diferente público con diferentes gustos.

Por cuestión de tiempo no entramos en ello, pero merecería la pena analizar la duración de los títulos de ambas producciones para ver si predomina los títulos de una determinada longitud.

merge con how en outer para unir left on right para unir las dos tablas

In [47]:
df1_modificado.merge(df2_modificado, left_on = "Title", right_on= "title", how="outer")

,Title,Genre,Premiere,Runtime,IMDB Score,Language,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,NaN,NaN,NaN,NaN,NaN,NaN,s2037,Movie,#Alive,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea,"September 8, 2020",2020,TV-MA,NaN,"Horror Movies, International Movies, Thrillers","As a grisly virus rampages a city, a lone man ..."
1,NaN,NaN,NaN,NaN,NaN,NaN,s2305,Movie,#AnneFrank - Parallel Stories,"Sabina Fedeli, Anna Migotto","Helen Mirren, Gengher Gatti",Italy,"July 1, 2020",2019,TV-14,NaN,"Documentaries, International Movies","Through her diary, Anne Frank's story is retol..."
2,NaN,NaN,NaN,NaN,NaN,NaN,s2482,Movie,#FriendButMarried,Rako Prijanto,"Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Indonesia,"May 21, 2020",2018,TV-G,NaN,"Dramas, International Movies, Romantic Movies","Pining for his high school crush for years, a ..."
3,NaN,NaN,NaN,NaN,NaN,NaN,s2325,Movie,#FriendButMarried 2,Rako Prijanto,"Adipati Dolken, Mawar de Jongh, Sari Nila, Von...",Indonesia,"June 28, 2020",2020,TV-G,104 min,"Dramas, International Movies, Romantic Movies",As Ayu and Ditto finally transition from best ...
4,NaN,NaN,NaN,NaN,NaN,NaN,s5974,Movie,#Roxy,Michael Kennedy,"Jake Short, Sarah Fisher, Booboo Stewart, Dann...",Canada,"April 10, 2019",2018,TV-14,NaN,"Comedies, Romantic Movies",A teenage hacker with a huge nose helps a cool...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,NaN,NaN,NaN,NaN,NaN,NaN,s6178,TV Show,忍者ハットリくん,NaN,NaN,Japan,"December 23, 2018",2012,TV-Y7,2 Seasons,"Anime Series, Kids' TV","Hailing from the mountains of Iga, Kanzo Hatto..."
8803,NaN,NaN,NaN,NaN,NaN,NaN,s4915,TV Show,海的儿子,NaN,"Li Nanxing, Christopher Lee, Jesseca Liu, Appl...",NaN,"April 27, 2018",2016,TV-14,NaN,"International TV Shows, TV Dramas","Two brothers start a new life in Singapore, wh..."
8804,NaN,NaN,NaN,NaN,NaN,NaN,s7102,TV Show,마녀사냥,NaN,"Si-kyung Sung, Se-yoon Yoo, Dong-yup Shin, Ji-...",South Korea,"February 19, 2018",2015,TV-MA,NaN,"International TV Shows, Korean TV Shows, Stand...",Four Korean celebrity men and guest stars of b...
8805,NaN,NaN,NaN,NaN,NaN,NaN,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...
8806,NaN,NaN,NaN,NaN,NaN,NaN,s7109,Movie,최강전사 미니특공대 : 영웅의 탄생,Young Jun Lee,"Um Sang-hyun, Yang Jeong-hwa, Jeon Tae-yeol, S...",NaN,"September 1, 2018",2018,TV-Y7,68 min,Children & Family Movies,"Miniforce, a special task force of elite range..."